:root {
  /* Primary */
  --very-dark-blue: hsl(233, 47%, 7%); /* (main background) */
  --dark-desaturated-blue: hsl(244, 38%, 16%); /*(card background)*/
  --soft-violet: hsl(277, 64%, 61%); /*(accent)*/

  /* Neutral */
  --white: hsl(0, 0%, 100%); /*(main heading, stats)*/
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.6); /*(stat headings)*/
}

body {
  background-color: var(--very-dark-blue);
  color: var(--white);
  font-family: "Lexend Deca", sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--dark-desaturated-blue);
  text-align: center;
  border-radius: 0.5rem;
  overflow: auto;
  width: 20.5rem;
  margin: auto;
}

.hero {
  background: linear-gradient(
      hsla(277, 64%, 61%, 0.5),
      hsla(277, 64%, 61%, 0.5)
    ),
    url("./images/image-header-mobile.jpg");
  background-size: cover;
  height: 15rem;
}

main {
  padding: 2rem 2rem 0 2rem;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.65rem;
  margin-top: 0.25rem;
}

main p {
  font-weight: 200;
  font-family: "Inter";
  color: var(--slightly-transparent-white);
  letter-spacing: 0.01rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}

.accent {
  color: var(--soft-violet);
}

ul.stats {
  list-style: none;
  padding: 0;
  margin-bottom: 2.5rem;
}

li {
  margin-bottom: 1rem;
}

.number {
  font-weight: 500;
  color: var(--white);
  font-size: 1.5rem;
  margin: 0;
}

.stat-label {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 1.75rem;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  margin: 2rem;
}

@media only screen and (min-width: 24rem) {
  .container {
    width: 70rem;
    height: 28rem;
    display: flex;
    flex-direction: row-reverse;
  }

  .hero {
    width: 33.75rem;
    height: 100%;
  }

  main {
    width: 35.5rem;
    padding: 4rem;
    box-sizing: border-box;
    text-align: left;
  }

  h1 {
    font-size: 2.25rem;
  }

  main p,
  ul {
    width: 22rem;
  }

  ul.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 5.5rem;
  }

  ul p {
    width: auto;
  }
}
